@inherits LayoutComponentBase






<div class="main-layout">

    <main>
        @Body 
        
        
        <!-- This is where the page-specific content (e.g., Home.razor) will be rendered -->
    </main>
</div>

